<!DOCTYPE html>
<html>
  <head itemscope="itemscope" itemtype="http://schema.org/Article">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Test task for a Magetic AI</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://wireframecss.michaelleahcim.com/mik/f/wireframe.css"/>
  </head>
  <body>
    <div class="pure-g mik-container mik-pad-top-5">
      <div class="pure-u-1">
        <h2>Results for input</h2>
        <table class="pure-table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Game</th>
            </tr>
          </thead>
          <tbody>
            {{#.}}
            <tr>
              {{#.}}
              <td>{{.}}</td>
              {{/.}}
            </tr>
            {{/.}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>


